.contact {
  box-shadow: 0 0 8px var(--black);
  padding: 2rem;
}

.contact-title {
  color: var(--main-color);
  font-weight: initial;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.header-nav-social-links {
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 425px) {
  .contact {
    padding: 0.5rem 2rem;
  }

  .contact-title {
    text-align: center;
  }

  .header-nav-social-links {
    flex-direction: column;
    gap: 1rem;
  }
}